# This line points to the special repository for PyTorch with CUDA support
--extra-index-url https://download.pytorch.org/whl/cu121

# PyTorch libraries for GPU acceleration
torch==2.4.0
torchvision==0.19.0
torchaudio==2.4.0

# Data handling and numerical operations
numpy==1.26.4

# Experiment tracking
wandb==0.17.5

huggingface
accelerate
